/*!
 * Code Black's Custom Styles
 * Naming convention: "cb-" prefix
 */

/* Shelby's */
/*FAQ styles*/
.cb-background-faq{
    background-image: url("../images/faq.jpg");
    background-position: center center;
    background-size: cover;
}
.cb-heading{
    text-align: center;
    color: white;
}
.cb-lastQuestion{
    margin-bottom: 1em;
}
.cb-answer{
    margin-top: 0.5em;
    padding: 1em;
    color: black;
}
.cb-question-container{
    background-color: whitesmoke;
    display: block;
    text-align: left;
    padding: 2em;
    margin-bottom: 3em;
    border-radius: 1em;
}
.cb-href{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
/* Registration Styles */
.cb-background-reg{
    background-image: url("../images/registration.jpg");
    background-position: center center;
    background-size: cover;
}
.cb-regInfo{
    background-color: rgba(245, 245, 245, 0.7);
    border: 2px dashed white;
    padding: 2.5em;
    margin: 0.5em;
    color: black;
}
.valid{
    border:  2px solid green;
}
.invalid{
    border: 2px solid red;
}
/* Admin Styles */
.cb-background-admin{
    background-image: url("../images/admin.jpg");
    background-position: center center;
    background-size: cover;
}
.cb-admin{
    height: 100vh;
    font-size: 16pt;
}
.cb-heading{
    text-align: center;
    color: whitesmoke;
}
/* Summary Styles */
.cb-background-sum {
    background-image: url("../images/summary.jpg");
    background-position: center center;
    background-size: cover;
    width:100%;
}
.cb-flightSum{
    background-color: rgba(245, 245, 245, 0.85);
    border: 2px dashed white;
    padding: 2.5em;
    margin: 0.5em;
    color: black;
}

/* Tony's */
body {
	min-width: 380px;
}

.cb-background-opacity {
	background: rgba(0, 0, 0, 0.50);
}

.cb-header-top {
	overflow: hidden;
	background: rgba(0, 0, 0, 0.50);
	height: 35vh;
}

.cb-login-top {
	background-color: #fff;
}

div.dataTables_wrapper div.dataTables_length select {
    margin: 0 5px !important;
}

/*
div.dataTables_wrapper div.dataTables_filter label {
    color: white !important;
}

div.dataTables_wrapper div.dataTables_info {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #fff;
    background-color: #ffc107!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc107), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #ffc107 0%, #111 100%);
    background: -moz-linear-gradient(top, #ffc107 0%, #111 100%);
    background: -ms-linear-gradient(top, #ffc107 0%, #111 100%);
    background: -o-linear-gradient(top, #ffc107 0%, #111 100%);
    background: linear-gradient(to bottom, #ffc107 0%, #111 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
*/

/* Collin's */